# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
*.onnx
.env

# Node
node_modules/
.next/
out/

# IDE
.idea/
.vscode/
*.swp

# Docker
*.env

# Data
/data/
*.pt
*.pth

# OS
.DS_Store
Thumbs.db
